body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #d6dde8;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
}

.signUp {
    width: 640px;
    margin: 0 auto;
    margin-top: -320px;
    text-align: center;
}

.signUp-label {
    text-align: left;
    padding-bottom: 5px;
}


.welcome {
    font-size: 36px;
    line-height: 52px;
    color: #4a4a4a;
    font-weight: bold;
}

.hero-h1 {
    font-size: 42px;
    margin-top: -50px;
    padding-bottom: 10px;
}

.heroImg {
    border-radius: 5px;
}

.small-gap {
    height: 25px;
}

.big-gap {
    height: 60px;
}

.home-section {
    text-align: center;
    border-radius: 5px;
}

.notify {
    border-radius: 15px;
    box-shadow: #999 4px 4px 8px;
    margin: 0 auto;
    margin: 20px;
}


.add-video-form {
    margin: 0 auto;
    width: 740px;
}

.success-alert {
    margin-top: 20px;
    padding: 15px;
    border-width: 2px;
    color: white;
    background-color: #48c774;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

/* Wider sign up page form */
.wider {
    margin: 0 10%;
}

.faIcon {
    font-size: 46px;
    text-align: center;
    color: #cc5000;
    margin-bottom: 30px;
}

.video-button {
    text-align: center;
}

.border-radius-10 {
    border-radius: 10px;
    border: 1px solid #ccc;

}

.video-iframe {
    width: 100%;
    height: 640px;
    /* background-color: blue; */
}

.wuphf {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.wuphf-user {
    font-size: 14px;
    font-style: italic;
    text-align: right;
    color: dodgerblue;
}

.youtube-links {
    background-color: #fafafa;
    border-radius: 15x;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0px 20px 0px;
}

.youtube-links:hover {
    border: 1px solid dodgerblue;
    background-color: #efefef;
}

/* STYLING FOOTER */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #ccc;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #999;
}

footer a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
}

footer a:hover {
    color: #fff;
}

/* Rendered rows of videos on members.html page*/

.video-container {
    margin: 100px;
}

.cardvideo {
    border: 1px solid #999;
    box-shadow: #999 4px 4px 8px;
    background-color: lightblue;
    margin: 15px;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    /* padding: 10px; */
    /* width: 80%; */
}

.cardvideo:hover {
    cursor: pointer;
    background-color: turquoise;
}

.playButton {
    border: 1px solid #666;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    margin-top: 25px;
}


.comments-iframe {
    width: 100%;
    height: 350px;
}

.tile2 {
    border: 2px solid black;
    background-color: lightblue;
    margin: 30px;
    padding: 10px;
}

/* ERROR on login and sign-up page  */
.alert {
    margin-top: 20px;
    padding: 15px;
    border-width: 2px;
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

/* CSS for LEAVE WUPHFs SECTION */
.wuphf-container {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0px 20px 0px;
}

button.submit {
    float: right;
    margin-top: 20px;
    padding: 10px 35px;
    border-width: 2px;
    color: #1da1f2;
    border-color: #1da1f2;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

#cms textarea {
    resize: none;
    width: 100%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

.wuphf-body {
    padding: 10px;
    background-color: green;
    border-radius: 10px;
}